@model HomeViewModel


<h1>Library management dashboard</h1>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Category Count
            </div>
            <div class="panel-body">
                There are @Model.CategorysCount categorys
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Books count
            </div>
            <div class="panel-body">
                There are @Model.BooksCount books
            </div>
        </div>
    </div>
</div>
    

